html {
  font-size: 1.4em;
}

.content {
    padding: 3rem 1.5rem;
    max-width: 30cm;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-bottom: 0.5em;
}

h2 {
    margin-top: 0.5em;
    color: #1b3864;
    font-size: 1.5em;
}

ul {
    margin-bottom: 0em;
}

a {
    color: #5ac9fbff;
}
